name: Pull request

on:
  pull_request:
    types: [opened, reopened, synchronize]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    name: Test
    uses: swiftlang/github-workflows/.github/workflows/swift_package_test.yml@main
    with:
      linux_os_versions: '["noble", "jammy", "focal", "rhel-ubi9"]'
      linux_pre_build_command: |
        if command -v apt-get >/dev/null 2>&1 ; then # bookworm, noble, jammy, focal
          apt-get update -y

          # Build dependencies
          apt-get install -y libsqlite3-dev libncurses-dev

          # Debug symbols
          apt-get install -y libc6-dbg
        elif command -v dnf >/dev/null 2>&1 ; then # rhel-ubi9
          dnf update -y

          # Build dependencies
          dnf install -y sqlite-devel ncurses-devel

          # Debug symbols
          dnf debuginfo-install -y glibc
        elif command -v yum >/dev/null 2>&1 ; then # amazonlinux2
          yum update -y

          # Build dependencies
          yum install -y sqlite-devel ncurses-devel

          # Debug symbols
          yum install -y yum-utils
          debuginfo-install -y glibc
        fi
      linux_build_command: 'swift test --no-parallel'
      linux_swift_versions: '["nightly-main", "nightly-6.2"]'
      windows_swift_versions: '["nightly-main"]'
      windows_build_command: 'swift test --no-parallel'
  cmake-smoke-test:
    name: cmake-smoke-test
    uses: swiftlang/github-workflows/.github/workflows/swift_package_test.yml@main
    with:
      linux_os_versions: '["noble"]'
      linux_pre_build_command: |
        apt-get update -y

        # Build dependencies
        apt-get install -y libsqlite3-dev libncurses-dev

        apt-get install -y cmake ninja-build
      linux_build_command: 'swift package -Xbuild-tools-swiftc -DUSE_PROCESS_SPAWNING_WORKAROUND cmake-smoke-test --disable-sandbox --cmake-path `which cmake` --ninja-path `which ninja` --extra-cmake-arg -DCMAKE_C_COMPILER=`which clang` --extra-cmake-arg -DCMAKE_CXX_COMPILER=`which clang++` --extra-cmake-arg -DCMAKE_Swift_COMPILER=`which swiftc`'
      linux_swift_versions: '["nightly-main"]'
      windows_swift_versions: '[]'
  soundness:
    name: Soundness
    uses: swiftlang/github-workflows/.github/workflows/soundness.yml@main
    with:
      license_header_check_project_name: "Swift"
      api_breakage_check_enabled: false
      format_check_enabled: false
